.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev { right:10px; }
.ui-datepicker .ui-datepicker-next { right: 0px; }
.ui-datepicker .ui-datepicker-prev span {
    display: block;
    position: absolute;
    left: 0;
    margin-left: -8px;
    top: 50%;
    margin-top: -10px;
}
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -10px;
}
.ui-datepicker .ui-datepicker-prev span {
    background: url(../images/icons.gif) -40px -19px no-repeat;
    width: 17px;
    height: 20px;
    cursor: pointer;
    border: none;
}
.ui-datepicker .ui-datepicker-next span {
    background: url(../images/icons.gif) -57px -19px no-repeat;
    width: 17px;
    height: 20px;
    cursor: pointer;
    border: none;
}
.ui-datepicker .ui-datepicker-title { margin-left: 8px; line-height: 1.8em; text-align: left; display: inline;}
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; }
.ui-datepicker th { text-align: center; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { 
    border: 1px solid #FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #222222;
}

 .ui-datepicker td a.ui-priority-secondary {
    color: #999999;
}
.ui-datepicker td a:hover {
    background: #E3E9FF;
    border: 1px solid #E3E9FF;
    color: #222222
}
.ui-datepicker td a.ui-state-active {
    background: #FFF7D7;
    border: 1px solid #FAD163;
}

.ui-datepicker-title {
    color: #2200CC;
    cursor: pointer;
    text-decoration: underline;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}