/* css reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

ol, ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; 
}

blockquote, q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:focus {
    outline: 0;
}

ins {
    background: #FFFF99;
    color: #000000;
    text-decoration: none;
}

mark {
    background-color: #FFFF99;
    color: #000000; 
    font-style: italic;
    font-weight: bold;
}

.errorMessage {
    color: #FF0000;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0;
}

/* general */
body {
    font-size: 12px;
    font-family: arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #EDEDED;
}

a {
    color: #008CD8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.disabled {
    color: #777777;
    cursor: default;
}

a.disabled:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

.hidden {
    display: none;
}

textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #AAC5CD;
    -moz-box-shadow: inset 0 2px 1px #E1E1E1;
    -webkit-box-shadow: inset 0 2px 1px #E1E1E1;
    box-shadow: inset 0 2px 1px #E1E1E1;
    background-color: #FAFAFA;
    font-size: 16px;
    padding: 5px 10px;
    resize: none;
    outline: none;
    -webkit-transition:-webkit-box-shadow 0.2s ease-in-out;
    -moz-transition: -moz-box-shadow 0.2s ease-in-out;
    -o-transition: -o-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    border: 1px solid #88B9C8;
    -moz-box-shadow: inset 0 1px 2px #e1e1e1, 0 0 3px #88B9C8;
    -webkit-box-shadow: inset 0 1px 2px #e1e1e1, 0 0 3px #88B9C8;
    box-shadow: inset 0 2px 1px #e1e1e1, 0 0 3px #88B9C8;
    background-color: #F6F8F9;
    outline: none;
}

/* button */
.btn {
    display: block;
    float: left;
    font-size: 12px;
    line-height: 26px;
    color: #333333;
    padding: 0 12px;
    margin: 0;
    border: 1px solid #cccccc;
    background: #f2f2f2;
    cursor: pointer;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#f6f6f6));
    background: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
    background: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
    background: -ms-linear-gradient(top, #f6f6f6, #eeeeee);
    background: -o-linear-gradient(top, #f6f6f6, #eeeeee);
    background: linear-gradient(top, #f6f6f6, #eeeeee);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.btn:focus,*/
.btn:hover {
    text-decoration: none;
    color: #555555;
    background: #f7f7f7;
    position: relative;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fbfbfb));
    background: -webkit-linear-gradient(top, #fbfbfb, #f3f3f3);
    background: -moz-linear-gradient(top, #fbfbfb, #f3f3f3);
    background: -ms-linear-gradient(top, #fbfbfb, #f3f3f3);
    background: -o-linear-gradient(top, #fbfbfb, #f3f3f3);
    background: linear-gradient(top, #fbfbfb, #f3f3f3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn.active {
    color: #333333;
    background: #cccccc;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), color-stop(0.65, #f3f3f3), to(#f3f3f3));
    background: -webkit-linear-gradient(top, #dddddd, #f3f3f3 65%);
    background: -moz-linear-gradient(top, #dddddd, #f3f3f3 65%);
    background: -ms-linear-gradient(top, #dddddd, #f3f3f3 65%);
    background: -o-linear-gradient(top, #dddddd, #f3f3f3 65%);
    background: linear-gradient(top, #dddddd, #f3f3f3 65%);
    -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.btn:active {
	border:1px solid  #aaaaaa;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 7px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:  0px 0px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 7px rgba(0, 0, 0, 0.05);
    box-shadow:  0px 0px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.btn.disabled {
    cursor: default;
    color: #cccccc;
    background: #f2f2f2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#f6f6f6));
    background: -webkit-linear-gradient(top, #fafafa, #f1f1f1);
    background: -moz-linear-gradient(top, #fafafa, #f1f1f1);
    background: -ms-linear-gradient(top, #fafafa, #f1f1f1);
    background: -o-linear-gradient(top, #fafafa, #f1f1f1);
    background: linear-gradient(top, #fafafa, #f1f1f1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-group {
    float: left;
}

.btn-group .btn {
    padding: 0 15px;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group .btn.first {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.btn-group .btn.last {
    border-right: 1px solid #cccccc;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.btn-blue {
    display: block;
    float: left;
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
    margin: 0;
    border: none;
    cursor: pointer;
    background: #328edb;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2277cc), to(#43a5ea));
    background: -webkit-linear-gradient(top, #43a5ea, #2277cc);
    background: -moz-linear-gradient(top, #43a5ea, #2277cc);
    background: -ms-linear-gradient(top, #43a5ea, #2277cc);
    background: -o-linear-gradient(top, #43a5ea, #2277cc);
    background: linear-gradient(top, #43a5ea, #2277cc);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.btn-blue:focus,*/
.btn-blue:hover {
    text-decoration: none;
    background: #2fb5fe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e88d7), to(#54b6fb));
    background: -webkit-linear-gradient(top, #54b6fb, #2e88d7);
    background: -moz-linear-gradient(top, #54b6fb, #2e88d7);
    background: -ms-linear-gradient(top, #54b6fb, #2e88d7);
    background: -o-linear-gradient(top, #54b6fb, #2e88d7);
    background: linear-gradient(top, #54b6fb, #2e88d7);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.btn-blue:active,
.btn-blue.active {
    background: #3592dd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43a5ea), to(#2277cc));
    background: -webkit-linear-gradient(top, #2277cc, #43a5ea);
    background: -moz-linear-gradient(top, #2277cc, #43a5ea);
    background: -ms-linear-gradient(top, #2277cc, #43a5ea);
    background: -o-linear-gradient(top, #2277cc, #43a5ea);
    background: linear-gradient(top, #2277cc, #43a5ea);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), inset 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), inset 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), inset 0 0 7px rgba(0, 0, 0, 0.1);
}

.btn-blue:active {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(0, 0, 0, 0.1);
}

.btn-blue.disabled {
    cursor: default;
    background: #c2c2c2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbb), to(#cacaca));
    background: -webkit-linear-gradient(top, #cacaca, #bbbbbb);
    background: -moz-linear-gradient(top, #cacaca, #bbbbbb);
    background: -ms-linear-gradient(top, #cacaca, #bbbbbb);
    background: -o-linear-gradient(top, #cacaca, #bbbbbb);
    background: linear-gradient(top, #cacaca, #bbbbbb);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-blue.big {
    line-height: 48px;
    font-size: 18px;
    padding: 0 22px;
    float: none;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-blue.big:hover {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-blue.big:active,
.btn-blue.big.active {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-green {
    display: block;
    float: left;
    line-height: 32px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #8aae37;
    padding: 0 15px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    cursor: pointer;
    background: #9cc827;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fbc24), to(#a9d42a));
    background: -webkit-linear-gradient(top, #a9d42a, #8fbc24);
    background: -moz-linear-gradient(top, #a9d42a, #8fbc24);
    background: -ms-linear-gradient(top, #a9d42a, #8fbc24);
    background: -o-linear-gradient(top, #a9d42a, #8fbc24);
    background: linear-gradient(top, #a9d42a, #8fbc24);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.btn-green:focus,*/
.btn-green:hover {
    text-decoration: none;
    background: #aad33a;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9cc53a), to(#b7e23a));
    background: -webkit-linear-gradient(top, #b7e23a, #9cc53a);
    background: -moz-linear-gradient(top, #b7e23a, #9cc53a);
    background: -ms-linear-gradient(top, #b7e23a, #9cc53a);
    background: -o-linear-gradient(top, #b7e23a, #9cc53a);
    background: linear-gradient(top, #b7e23a, #9cc53a);
}

.btn-green:active,
.btn-green.active {
    background: #9cc827;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9d42a), to(#8fbc24));
    background: -webkit-linear-gradient(top, #8fbc24, #a9d42a);
    background: -moz-linear-gradient(top, #8fbc24, #a9d42a);
    background: -ms-linear-gradient(top, #8fbc24, #a9d42a);
    background: -o-linear-gradient(top, #8fbc24, #a9d42a);
    background: linear-gradient(top, #8fbc24, #a9d42a);
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
}

.btn-green.disabled {
    cursor: default;
    border: 1px sollid #b3b3b3;
    background: #c2c2c2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbb), to(#cacaca));
    background: -webkit-linear-gradient(top, #cacaca, #bbbbbb);
    background: -moz-linear-gradient(top, #cacaca, #bbbbbb);
    background: -ms-linear-gradient(top, #cacaca, #bbbbbb);
    background: -o-linear-gradient(top, #cacaca, #bbbbbb);
    background: linear-gradient(top, #cacaca, #bbbbbb);
}

.link-label {
    display: block;
    float: left;
    padding: 6px 12px;
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    line-height: 12px;
    margin: 0 10px 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.link-label:focus,*/
.link-label:hover {
    background: #cccccc;
    text-decoration: none;
}

.link-label.active {
    background: #666666;
    border-color: #666666;
    color: #ffffff;
}