<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="static/css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/tree.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/status.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
                <script type="text/javascript" src="static/css/jquery.min.js"></script>
<title>TOAST</title>
        <script type="text/javascript" src="static/js/lib.js"></script>
        <script type="text/javascript" src="static/js/lib.cookie.js"></script>
        <script type="text/javascript" src="static/js/lib.treeview.js"></script>
        <script type="text/javascript" src="static/js/config.js"></script>
        <script type="text/javascript" src="static/js/lang.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="bg">
            <div class="header">
                <div class="logo">
                    <a href="/task">
                        <img alt="TOAST" src="/themes/classic/assets/images/page_logo.png" />
                    </a>
                </div>
                <ul id="nav">
<li><a href="/task">任务</a></li>
<li><a href="/report">报表</a></li>
<li><a href="/case">用例</a></li>
<li><a href="/machine">测试机</a></li>
</ul><ul id="user">
<li><a id="username" >{{username}}</a></li>
<li><a href="/projectlist">管理入口</a></li>
<li class="last"><a href="/logout">退出</a></li>
</ul>            </div>
            <div class="notify hidden">
                NOTIFY BAR
            </div>
            <div class="content">
    <div class="sub-nav">
        <ul id="path-nav">
<li class="first"><a href="/admin/user">用户管理</a></li>
<li class="last"><span>新用户</span></li>
</ul>    </div>
    <div class="main-detail">        
        <form action="/admin/user/create" method="post">        <div class="button-actions clearfix">
            <input type="submit" value="保存" name="save" class="btn" />
        </div>
                <div class="block detail clearfix basic-info">
            <div class="row-fluid">
                <label class="span1 required" for="User_username">用户名 <span class="required">*</span></label><input class="focus span3" name="User[username]" id="User_username" type="text" maxlength="20" />            </div>
            <div class="row-fluid">
                <label class="span1 required" for="User_realname">真实名称 <span class="required">*</span></label><input class="focus span3" name="User[realname]" id="User_realname" type="text" maxlength="128" />            </div>
            <div class="row-fluid">
                <label class="span1 required" for="User_password">密码 <span class="required">*</span></label><input class="focus span3" name="User[password]" id="User_password" type="password" />            </div>
            <div class="row-fluid">
                <label class="span1 required" for="User_email">邮件 <span class="required">*</span></label><input class="focus span3" name="User[email]" id="User_email" type="text" maxlength="255" />            </div>
            <div class="row-fluid">
                <label class="span1 required" for="User_role">角色 <span class="required">*</span></label><div class="span3"><input id="ytUser_role" type="hidden" value="" name="User[role]" /><span id="User_role"><input style="width: auto;" id="User_role_0" value="1" checked="checked" type="radio" name="User[role]" /> <label for="User_role_0">普通成员</label>&nbsp;&nbsp;<input style="width: auto;" id="User_role_1" value="2" type="radio" name="User[role]" /> <label for="User_role_1">系统管理员</label></span></div>            </div>
            <div class="row-fluid">
                <label class="span1" for="user-products">所属产品</label><div class="span11"><span id="products"><input style="width: auto;" value="1" id="products_0" type="checkbox" name="products[]" /> <label for="products_0">Sample</label></span></div>            </div>
        </div>
        </form>    </div>
</div>
<style type="text/css">
.basic-info {
    padding: 10px 15px;
}
.basic-info label {
    color: #919191;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    var goodexit = false;
    function bindunbeforunload() {
        goodexit = false;
        window.onbeforeunload = perforresult;
    }
    function unbindunbeforunload() {
        goodexit = true;
        window.onbeforeunload = null;
    }
    function perforresult() {
        if(!goodexit) {
            return lang.sureToLeave;
        }
    }
    bindunbeforunload();
    $("input[type=submit]").click(function(){
        unbindunbeforunload();
    })
    $("input#create-user").click(function(){
        location.href = getRootPath() + "/admin/user/create";
    })
});
</script>        </div>
    </body>
</html>